<div class="row">
  <div class="small-6 columns">
    <h2>Welcome Home! This is the App. Have fun.</h2>
  </div>
</div>

<%= link_to "I'm a Patient!", new_patient_session_path %><br>
<br><%= link_to "I'm a Doctor!", new_doctor_session_path %>