<div class="row">
  <div class="small-4 columns">
    <h2>Find A Doctor</h2>
    <p>And Book An Appointment</p>
  </div>
</div>


<div class="row">
  <div class="small-4 columns">
    <%= link_to "Book Appointment", patient_waiting_room_path, class: "tiny button radius" %>
  </div>
</div>