<div id="form" class="row">
    <div class="small-4 columns">
    <h3>Welcome</h3>
    <form>
      First Name: <input type="text" name="firstname" value="<%= @patient.first_name %>"></br>
      Last Name: <input type="text" name="lastname" value="<%= @patient.last_name %>"></br>
      Birthate: <input type="option" value="">
    </form>
    </div>
  </div>