<div class="row">
  <div class="small-4 columns">
    <h2>Find A Doctor</h2>
    <p>And Book An Appointment</p>
  </div>
</div>

<%#= @doctor.first_name %>


<div class="row">
  <div class="small-4 columns">
    <%= link_to "Book Appointment", new_health_form_path, class: "tiny button radius" %>
  </div>
</div>

