
<div class="row">
  <div class="small-4 columns right">
    <%= link_to "Sign Out", root_path %>
  </div>
</div>
<div class="row">
  <div class="small-4 columns right">
    <%= link_to "Update Profile", edit_patient_profile_path %>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
    <h2>Patient Dashboard</h2>
    <p>See a doctor immediately, or find a specialist and set up an appointment!</p>
  </div>
</div>

<div class="row">
  <div class="small-5 columns">
    <h2></h2>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <%= link_to "See Doctor Right Now", patient_waiting_room_path, class: "button alert radius" %>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <%= link_to "Book An Appointment", patient_set_appointment_path, class: "button radius" %>
  </div>
</div>
