<div class="row">
  <div class="small-1 columns right">
    <%= link_to "Back", doctor_root_path %>
  </div>
</div>

Here are your Appointments Doc

<%= link_to "Go To Appointment", patient_webchat_path %>