<div class="row">
  <div class="small-4 columns right">
    <%= link_to "Update Profile", patient_edit_profile_path, class: "right" %>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <p>Welcome, <%= @doctor.first_name %>!</p>
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    <h2 class="page-title">Doctor Dashboard</h2>
    <p>See a doctor immediately, or find a specialist and set up an appointment!</p>
  </div>
</div>

<div class="row">
  <div class="small-5 columns">
    <h2></h2>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <%= link_to "View Appointments", doctor_view_appointment_path, class: "button alert radius" %>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <%= link_to "Update Profile", new_doctor_profile_path, class: "button radius" %>
  </div>
</div>