// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 5px;
  font-family: helvetica;
}
video {
  /*filter: hue-rotate(180deg) saturate(200%);
  -moz-filter: hue-rotate(180deg) saturate(200%);
  -webkit-filter: hue-rotate(180deg) saturate(200%);*/
  display:inline-block;
  -webkit-filter: drop-shadow(14px 14px 20px black);
}


// #localVideo {
//   border-radius: 5px;
//     border: 3px dotted blue;
//     height: 484px;
//     width: 644px;
  
// }

#remoteVideo {
  // border-radius: 5px;
  // border: 3px dotted black;
  height: 100px;
  width: 133px;
  margin-left: -138px;
}

#buttons {
  padding: 10px 0px 0px 30px;
}

button {
  padding: 13px;
  border-radius: 5px;
  font-size: 15px;
}



// #form {
//   width: 300px;
// }
