// Place all the styles related to the Static_Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// li {
//   height: 350px;
// }
// img {

// }
.example-orbit-content {
  background-color: lightblue;
}

.headline {
  height: 200px;
}

#footer {
  background-color: lightblue;
  float:bottom;
  position: relative;
}

#footer ul {
  padding: 6px;
}

#footer li {
  display: inline-block;
}
