<div class="row">
  <div class="small-4 columns">
    <h2 class="page-title">Waiting Room</h2>
  </div>
  <div class="small-1 columns">
    <%= link_to "Back", patient_root_path %>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
    <p>Please fill out this form to the best of your ability. This information is confidential.</p>
  </div>
</div>

<%= render partial: 'form' %>